

	body {
		font-family: Verdana;
		color:  blueviolet;
		background-color: deepskyblue;
	}

	h3 {
		font-size: 40px;
	}


	
	img {
	
		width: 600px;
		border-width: 15px;
		border-style: solid;
		border-color: lightskyblue;
		object-fit: contain;
		box-shadow: 20px 10px 5px hotpink;
		filter:  sepia(50%); 
	}
